# Entorno y credenciales
.env

# Datos crudos (no se versionan — son pesados)
F1_Project/data_raw/*
!F1_Project/data_raw/.gitkeep

# Datos procesados — se ignora el contenido
F1_Project/data_processed/*
!F1_Project/data_processed/.gitkeep

# Outputs del EDA
!F1_Project/data_processed/eda/
F1_Project/data_processed/eda/*
!F1_Project/data_processed/eda/outputs/
F1_Project/data_processed/eda/outputs/*
!F1_Project/data_processed/eda/outputs/*.png
!F1_Project/data_processed/eda/outputs/eda_summary.txt

# Artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos entrenados y artefactos de ML
*.pkl
*.joblib

# Backups de base de datos
backups/
